.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background: linear-gradient(135deg, #ffffff 0%, #1e90ff 100%);
  color: white;
  min-height: 100vh;
  position: relative;
}

.info-container {
  margin-bottom: 20px;
}

.class-info {
  font-size: 24px;
  font-weight: bold;
  color: purple;  
}
.class-info-time {
  font-size: 20px;
  color:purple
}

.qr-code-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code {
  margin-right: 20px; /* Shift QR code slightly to the left */
}

.qr-code img {
  width: 256px;
  height: 256px;
}

.code-text {
  font-size: 18px;
  margin-top: 10px;
  color: purple;
}

.code-text.hidden {
  visibility: hidden;
  
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: purple;
}

.countdown-timer {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ffa07a;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
