.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background: linear-gradient(135deg, #fffefe 0%, #ffffff 100%);
  color: white;
  min-height: 100vh;
  position: relative;  
}

.info-container,
.qr-code,
.scan-count-container {
  background: rgba(26, 1, 136, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px; 
  box-shadow: 0 4px 15px rgba(242, 112, 112, 0.1);
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-info{
  font-size: 24px;
  color: white;
}
.class-info-time {
  font-size: 24px;
  color: white;
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code img {
  width: 256px;
  height: 256px;
  margin-bottom: 10px;
}

.code-text {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

button.generate-button {
  background-color: #1e90ff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.generate-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.scan-count {
  font-size: 36px;
  color: #fff;
}

.countdown-timer {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  color:rgba(26, 1, 136, 0.8);
}
