.schedule-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: #f0f0f0;
  background-image:url(./IMAGES/Timetable.jpg) ;
  background-size: cover;
  
}

.schedule-image {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
