.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.class-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.class-button {
  text-decoration: none;
  color: white; /* Set text color to white */
  padding: 15px;
  margin: 5px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.class-button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.class-button h4 {
  margin: 0;
  font-size: 18px;
}

.class-button p {
  margin: 5px 0 0;
  font-size: 14px;
}
